In [29]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [30]:
import pandas as pd
import math
import random
def calculate_credit_score(income, history_length, credit_balance):
    # Weightage factors (you can adjust these based on real-life scenarios)
    income_weight = 0.4 + random.uniform(-0.05, 0.05)
    history_weight = 0.3 + random.uniform(-0.05, 0.05)
    balance_weight = 0.3 + random.uniform(-0.05, 0.05)

    # Normalize inputs
    normalized_income = (income - 30000) / (5000000 - 30000)  # Annual salary between 30000 and 5000000
    normalized_history = history_length / 50  # History length between 0 and 50 years
    normalized_balance = (credit_balance - 30000) / (5000000 - 30000)  # Credit balance is fixed at 30000

    # Calculate credit score
    credit_score = (
        income_weight * normalized_income +
        history_weight * normalized_history +
        balance_weight * normalized_balance
    )

    # Ensure credit score is within the desired range (200 - 1000)
    #credit_score = max(min(credit_score, 1000), 200)

    return credit_score*1000

In [31]:
def calculate_credit_limit(credit_score, annual_salary,min1,max1,min2,max2):
    # Weightage factors (you can adjust these based on real-life scenarios)
    credit_score_weight = 0.6 + random.uniform(-0.05, 0.05)
    salary_weight = 0.4 + random.uniform(-0.05, 0.05)

    # Normalize inputs
    normalized_credit_score = (credit_score - min1) / (max1-min1)  # Credit score between 200 and 900
    normalized_salary = (annual_salary - min2) / (max2 - min2)  # Annual salary between 300000 and 5000000

    # Calculate credit limit
    credit_limit = (
        credit_score_weight * normalized_credit_score +
        salary_weight * normalized_salary
    ) * 10000  # Multiplying by 10,000 for better scale

    return credit_limit*1000

In [32]:
def predict_partial_payment(age, annual_salary, credit_score, credit_limitation, credit_card_loan):
    n=0
    t=credit_card_loan
    while(t>1):
      n+=1
      t=math.floor(t/10)
    p=random.randint(0,n-1)
    credit_score-=250
    partial_payment = math.ceil(credit_card_loan/math.pow(10,p))
    if(partial_payment==0):
      return partial_payment
    p=0
    t=partial_payment
    while(t>1):
      p+=1
      t=math.floor(t/10)

    q=0
    t=annual_salary
    while(t>1):
      q+=1
      t=math.floor(t/10)

    w=(age-21)*math.pow(10,p-2)+(annual_salary)*math.pow(10,t-p)
    if(partial_payment>w):
      final= partial_payment-w
    else:
      final= partial_payment

    if(final<100):
      return 0
    else:
      return int(partial_payment)






    # # partial_payment =credit_card_loan/math.pow(10,p)+age*math.pow(10,n-p)-annual_salary*math.pow(10,n-p)*credit_score
    # partial_payment =credit_card_loan/math.pow(10,p)+age*math.pow(10,n-p)

    return partial_payment

In [33]:
df = pd.read_csv('/content/drive/MyDrive/ml/all_players.csv')
data=pd.DataFrame(columns=['name','age','anual_salary','credit_card_number','credit_score','credit_limitation','transaction_status','partial_payment','credit_balance'])

size = df.size
print(size)
df.columns

814322

Index(['Unnamed: 0', 'Name', 'Nation', 'Club', 'Position', 'Age', 'Overall',
       'Pace', 'Shooting', 'Passing', 'Dribbling', 'Defending', 'Physicality',
       'Acceleration', 'Sprint', 'Positioning', 'Finishing', 'Shot', 'Long',
       'Volleys', 'Penalties', 'Vision', 'Crossing', 'Free', 'Curve',
       'Agility', 'Balance', 'Reactions', 'Ball', 'Composure', 'Interceptions',
       'Heading', 'Def', 'Standing', 'Sliding', 'Jumping', 'Stamina',
       'Strength', 'Aggression', 'Att work rate', 'Def work rate',
       'Preferred foot', 'Weak foot', 'Skill moves', 'URL', 'Gender', 'GK'],
      dtype='object')

In [34]:
data['name'] = df['Name']

In [35]:
data.head()

,name,age,anual_salary,credit_card_number,credit_score,credit_limitation,transaction_status,partial_payment,credit_balance
0,Kylian Mbappé,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Erling Haaland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kevin De Bruyne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lionel Messi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Karim Benzema,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
for i in data.index:
  data['age'][i]=random.randint(22,70)
  data['anual_salary'][i] = random.randint(3000,50000)*100
  data['credit_card_number'][i]=random.randint(3000000000000000,9999999999999999)
  data['credit_score'][i] = math.ceil(calculate_credit_score(data['anual_salary'][i], data['age'][i]-random.randint(21,28),300000))

In [37]:
data.head()

,name,age,anual_salary,credit_card_number,credit_score,credit_limitation,transaction_status,partial_payment,credit_balance
0,Kylian Mbappé,30,2243900,4469166045790095,187,NaN,NaN,NaN,NaN
1,Erling Haaland,62,4015200,4404181833044165,496,NaN,NaN,NaN,NaN
2,Kevin De Bruyne,53,1612000,6256117018495183,313,NaN,NaN,NaN,NaN
3,Lionel Messi,37,4509500,5910104057399827,424,NaN,NaN,NaN,NaN
4,Karim Benzema,66,2194200,6706387783382719,470,NaN,NaN,NaN,NaN

In [38]:

min1 = min(data['credit_score'])
max1=max(data['credit_score'])
min2 = min(data['anual_salary'])
max2 = max(data['anual_salary'])

for i in data.index:
   data['credit_limitation'][i] = math.ceil(calculate_credit_limit(data['credit_score'][i], data['anual_salary'][i],min1,max1,min2,max2))
   data['transaction_status'][i]=random.randint(0,data['credit_limitation'][i])


  #  data['partial_payment'][i]=predict_partial_payment(data['age'][i], data['anual_salary'][i], data['credit_score'][i], data['credit_limitation'][i], data['transaction_status'][i])
  #  data['credit_balance'][i]= data['transaction_status'][i]- data['partial_payment'][i]

In [39]:
for i in data.index:
   data['partial_payment'][i]=predict_partial_payment(data['age'][i], data['anual_salary'][i], data['credit_score'][i], data['credit_limitation'][i], data['transaction_status'][i])
   data['credit_balance'][i]= data['transaction_status'][i]- data['partial_payment'][i]

In [40]:
data.head(30)

,name,age,anual_salary,credit_card_number,credit_score,credit_limitation,transaction_status,partial_payment,credit_balance
0,Kylian Mbappé,30,2243900,4469166045790095,187,2885378,2035231,204,2035027
1,Erling Haaland,62,4015200,4404181833044165,496,7399452,6869268,0,6869268
2,Kevin De Bruyne,53,1612000,6256117018495183,313,3700709,888126,88813,799313
3,Lionel Messi,37,4509500,5910104057399827,424,6946687,5897568,58976,5838592
4,Karim Benzema,66,2194200,6706387783382719,470,5629187,3882799,389,3882410
5,Thibaut Courtois,46,778600,4787153470899439,216,2122116,808174,80818,727356
6,Harry Kane,39,660900,3309827474045573,179,1728661,1417412,142,1417270
7,Robert Lewandowski,35,1248500,8179186252892675,218,2353561,51457,515,50942
8,Mohamed Salah,58,3669700,7356971747235309,499,6641689,1102013,1103,1100910
9,Rúben Dias,52,985900,6074522592072106,257,2555206,437250,43725,393525
10,Vini Jr.,33,1339600,4850363064109935,197,2338389,766488,0,766488
11,Rodri,22,1293300,6472706999655031,114,1592281,34157,3416,30741
12,Neymar Jr,57,506200,8903623748396646,230,1853334,775102,0,775102
13,Marc-André ter Stegen,38,1356600,4592252075794159,178,2022687,486377,486377,0
14,Virgil van Dijk,44,3749800,9681383841937155,468,6728934,2396232,240,2395992
15,Alisson,67,2821100,5625667940121976,503,6202994,567920,567920,0
16,Casemiro,62,435500,4842500122570170,267,2150726,1592608,159261,1433347
17,Bruno Fernandes,59,2834500,7071928943480212,418,5371557,3088577,30886,3057691
18,Antoine Griezmann,61,3549700,3104624080046870,524,7264401,1101444,110145,991299
19,Victor Osimhen,52,4720400,8107955175422572,540,8487842,1004022,0,1004022
20,Bernardo Silva,26,609800,9604986909904369,76,747858,465386,46539,418847
21,Federico Valverde,33,3137400,9653428140618461,341,5071544,4699058,0,4699058
22,Ederson,58,1551800,5926121122865864,317,3597726,1612356,16124,1596232
23,Joshua Kimmich,50,1847200,9661748821217834,347,4055123,3378824,338,3378486
24,Jan Oblak,53,414500,6874838598199182,228,1871947,1781191,17812,1763379
25,Luka Modrić,23,318400,5206851397555333,52,349120,330025,3301,326724
26,Frenkie de Jong,40,4178900,6134404096285743,460,6619728,895553,0,895553
27,Lautaro Martínez,69,4006400,7295053650858080,572,8006395,7777165,0,7777165
28,Martin Ødegaard,63,3419800,7686553692321262,552,6632363,2336641,234,2336407
29,Mike Maignan,23,3601300,5785759953654015,296,4686816,3498784,34988,3463796

In [41]:
data.to_csv('/content/drive/MyDrive/ml/output.csv')

In [42]:
q=0
for i in data.index:
  if(data['transaction_status'][i]<data['partial_payment'][i]):
    q+=1

q

0